cityscapesscripts==2.2.0
cycler==0.10.0
gdown==4.7.1
humanfriendly==10.0
kiwisolver==1.4.4
kornia==0.6.8
matplotlib==3.7.1
numpy==1.24.2
opencv-python==4.7.0.72
pandas==1.5.3
Pillow==9.4.0
prettytable==3.6.0
pyparsing==3.0.9
pytz==2023.3
PyYAML==6.0
scipy==1.10.1
seaborn==0.12.2
timm==0.6.12
torch==1.13.1+cu117
torchvision==0.14.1+cu117
tqdm==4.64.1
typing-extensions==3.10.0.2
wcwidth==0.2.6
yapf==0.33.0
